<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAI931ru8D6ZiMbWmOdjk8QqBPOf-7seU4</string>
	<key>GCM_SENDER_ID</key>
	<string>132185217732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.main.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>se-project-61c04</string>
	<key>STORAGE_BUCKET</key>
	<string>se-project-61c04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132185217732:ios:23492899de12abf9d0c791</string>
</dict>
</plist>